*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;    
}
body {
    /*background: #080808; */
    /*color: #fff;*/
    background: #fdd9b5;
    color: black;
    
}
.seeGraph {
    position: absolute;
    text-decoration: none;
    color: black;
    background: #fff;
    box-sizing: border-box;
    border: white 3px solid;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 950px;
    margin-top: 640px;
}
canvas {
    margin: 32px auto;
    padding: 50px;
    display: block;
    position: absolute;
    margin-top: 1000px;
    background: rgb(36, 35, 35);
    background: #EEE6DB;
  }
.pageHeaderText {
    font-size: 30px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 175px;
    margin-top: 50px;
    padding: 20px;
}
.pageHeaderLogo {
    position: absolute;
    padding: 20px;
    margin-left: 15px;
}
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
/* Below you can adjust margin-top to stack inputs */
/* input-X and detail-X should have same margin-top */
.input-1 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 375px;
    margin-top: 300px;  
}
.detail-1 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 300px;
    margin-top: 240px;      
}
.input-2 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 375px;
    margin-top: 430px;
}
.detail-2 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 300px;
    margin-top: 370px;          
}
.input-3 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 375px;
    margin-top: 560px;    
}
.detail-3 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 300px;
    margin-top: 500px;          
}
.input-4 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 975px;
    margin-top: 300px;   
}
.detail-4 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 900px;
    margin-top: 246px;          
}
.input-5 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 975px;
    margin-top: 430px;    
}
.detail-5 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 900px;
    margin-top: 375px;          
}
.input-6 {
    position: absolute;
    padding: 10px 10px;
    margin-left: 975px;
    margin-top: 560px;    
}
.detail-6 {
    position: absolute;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 75px;
    margin-left: 900px;
    margin-top: 500px;          
}
/* Below is information about calculator functionality */
.box {
    inline-size: 1175px;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-align: justify;
    margin-top: 650px;
}
.information {
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    margin-left: 500px;
    margin-top: 100px;
    z-index: -1;
}
.calculate {
    position: absolute;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 350px; 
    margin-top: 640px;
    border: #ccc 1px solid;
}
.calculate:hover {
    box-shadow: gray 1px 2px 5px;
    border: none;
}
.advancedMode {
    position: absolute;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 575px; 
    margin-top: 575px;
}
.popup {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 175px;
    margin-top: -50px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    justify-content: center;
    padding: 0 600px 600px; 
    color:rgb(36, 35, 35);
    visibility: hidden;
    transition: transform 75ms, top 0.5s ease-in-out;
   /* opacity: 1; */
}
.open-popup {
    top: 50%;
    visibility: visible;  
    transform: translate(-50%, -50%) scale(1);
}
.popup p {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    margin-left: -600px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 100px;
    text-align: center;
    align-items: center;
    background: rgb(31, 120, 6);
    color: #fff;
    border: 10;
    outline: none;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer; 
}
.popup .doneButton {
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 200px;
    position: absolute;
    margin-left: 375px;
    margin-top: 530px;
}
.copyright {
    background: #fdd9b5;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
    -webkit-text-stroke: 0.2px black;
    margin-top: 2px;
    margin-left: 700px;
    font-family: 'Comfortaa', sans-serif, monospace;
}
